{% extends "admin/change_form.html" %}

{% load i18n admin_urls %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
&rsaquo; {% if has_change_permission %}<a href="{% url opts|admin_urlname:'changelist' %}">{% trans 'Root folder' %}</a>{% else %}{% trans 'Root folder' %}{% endif %}
{% if original %}
  {% for f in original.folder.ancestors_including_self %}
  &rsaquo; <a href="{% url opts|admin_urlname:'changelist' %}?folder__id__exact={{ f.id }}">{{ f }}</a>
  {% endfor %}
  &rsaquo; {{ original }}
{% elif add %}
  {% if cabinet.folder %}
  {% for f in cabinet.folder.ancestors_including_self %}
    &rsaquo; <a href="{% url opts|admin_urlname:'changelist' %}?folder__id__exact={{ f.id }}">{{ f }}</a>
  {% endfor %}
  {% endif %}
  &rsaquo; {% blocktrans with name=opts.verbose_name %}Add {{ name }}{% endblocktrans %}
{% endif %}

</div>
{% endblock %}
