{% extends "admin/change_list.html" %}

{% load admin_urls i18n static %}

{# Do not render filters #}
{% block filters %}{% endblock %}

{# Add parent folders to breadcrumbs #}
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label=cl.opts.app_label %}">{{ cl.opts.app_config.verbose_name }}</a>
&rsaquo; <a href=".">{% trans 'Root folder' %}</a>
{% for node in cabinet.folder.ancestors reversed %}
&rsaquo; {% if forloop.last %}{{ node }}{% else %}<a href="?folder__id__exact={{ node.id }}">{{ node }}</a>{% endif %}
{% endfor %}
</div>
{% endblock %}

{% block object-tools-items %}
  {% if perms.cabinet.add_folder %}
  <li>
    <a href="{% url 'admin:cabinet_folder_add' %}?parent={{ cabinet.folder.pk }}" class="addlink">
      {% blocktrans with name=_('folder') %}Add {{ name }}{% endblocktrans %}
    </a>
  </li>
  {% endif %}
  {% if has_add_permission and cabinet.folder %}
  <li>
    {% url cl.opts|admin_urlname:'add' as add_url %}
    <a href="{% add_preserved_filters add_url is_popup to_field %}&amp;folder={{ cabinet.folder.pk }}" class="addlink">
      {% blocktrans with cl.opts.verbose_name as name %}Add {{ name }}{% endblocktrans %}
    </a>
  </li>
  {% endif %}
{% endblock %}

{% block result_list %}
{{ block.super }}

{# Blob of content that is added to main template if there were no files #}
{# (which always happens for example on the root folder listing) #}
<script type="text/template" id="cabinet-result-list">
  <div class="results">
  <table id="result_list">
    <thead>
    <tr>
      <th scope="col"  class="action-checkbox-column">
        <div class="text"><span><input type="checkbox" id="action-toggle" /></span></div>
        <div class="clear"></div>
      </th>
      <th scope="col"  class="column-admin_thumbnail">
        <div class="text"><span></span></div>
        <div class="clear"></div>
      </th>
      <th scope="col"  class="column-admin_file_name">
        <div class="text"><span>File name</span></div>
        <div class="clear"></div>
      </th>
      <th scope="col"  class="column-admin_details">
        <div class="text"><span>Details</span></div>
        <div class="clear"></div>
      </th>
    </tr>
    </thead>
    <tbody></tbody>
  </table>
  </div>
</script>

<script type="text/template" id="cabinet-folder-list">
  {% if cabinet.folder %}
  <tr class="row-folder">
    <td></td>
    <td class="field-admin_thumbnail"><span class="folder"></span></td>
    <th class="field-admin_file_name" colspan="2">
        <a href="{% if cabinet.folder.parent_id %}?folder__id__exact={{ cabinet.folder.parent_id }}{% else %}.{% endif %}">../</a>
    </th>
  </tr>
  {% endif %}
  {% for f in cabinet.folder_children %}
    <tr class="row-folder">
      <td></td>
      <td class="field-admin_thumbnail"><span class="folder"></span></td>
      <th class="field-admin_file_name">
        <a href="?folder__id__exact={{ f.id }}">{{ f }}</a>
      </th>
      <td class="field-admin_details">
        <small>
          {% blocktrans with num_subfolders=f.num_subfolders num_files=f.num_files trimmed %}
            {{ num_subfolders }} subfolders, {{ num_files }} files
          {% endblocktrans %}
          <a href="{% url 'admin:cabinet_folder_change' f.id %}"
             title="{% trans 'Change folder' %}" class="changelink"></a>
        </small>
      </td>
    </tr>
  {% endfor %}
</script>

<script type="text/javascript">
(function() {
  var $ = django.jQuery;

  // Remove filtered class so that module uses horizontal space better
  $('.module.filtered').removeClass('filtered');

  // Hardcoded result list HTML if there are no files at all (for example in
  // the root folder)
  if (!$('#result_list').length) {
    var rl = document.getElementById('cabinet-result-list');
    $(rl).before(rl.innerHTML);
  }

  // Prepend folders to result list
  $('#result_list>tbody').prepend(document.getElementById('cabinet-folder-list').innerHTML);

  // Search searches all files; remove folder filter
  $('#changelist-search input[name=folder__id__exact]').remove();
})();
</script>
<style type="text/css">
.column-admin_thumbnail {
  width: 2em;
  font-size: 2rem;
}
.field-admin_thumbnail span {
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  display: inline-block;
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  vertical-align: middle;
  text-align: center;
  font-size: 90%;
}
.field-admin_thumbnail .folder {
  background-image: url({% static 'cabinet/folder-open-o.svg' %});
}
.field-admin_thumbnail .download {
  background-image: url({% static 'cabinet/file-o.svg' %});
  padding-top: 16px;
}
.field-admin_file_name a {
  display: block;
  padding: 10px 0;
}
</style>
{% endblock %}
